@{
    ViewBag.Title = "Home Page";
}
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box ">
                        <a class="small-box-footer" href="http://school.inilabs.net/v2.2/student">
                            <div class="icon bg-aqua" >
                                <i class="fa fa-child"></i>
                            </div>
                            <div class="inner ">
                                <h3>
                                    1000
                                </h3>
                                <p>
                                    Student
                                </p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-xs-6">
                    <div class="small-box ">
                        <a class="small-box-footer" href="http://school.inilabs.net/v2.2/teacher">
                            <div class="icon bg-red" >
                                <i class="fa fa-male"></i>
                            </div>
                            <div class="inner ">
                                <h3>
                                    25
                                </h3>
                                <p>
                                    Teacher
                                </p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-xs-6">
                    <div class="small-box ">
                        <a class="small-box-footer" href="http://school.inilabs.net/v2.2/subject">
                            <div class="icon bg-yellow" >
                                <i class="fa fa-book"></i>
                            </div>
                            <div class="inner ">
                                <h3>
                                    50
                                </h3>
                                <p>
                                    Subject
                                </p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-xs-6">
                    <div class="small-box ">
                        <a class="small-box-footer" href="http://school.inilabs.net/v2.2/sattendance">
                            <div class="icon bg-blue" >
                                <i class="fa fa-list"></i>
                            </div>
                            <div class="inner ">
                                <h3>
                                    0
                                </h3>
                                <p>
                                    Attendance
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box ">
                        <a class="small-box-footer" href="http://school.inilabs.net/v2.2/student">
                            <div class="icon bg-aqua" >
                                <i class="fa fa-child"></i>
                            </div>
                            <div class="inner ">
                                <h3>
                                    1000
                                </h3>
                                <p>
                                    Student
                                </p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-xs-6">
                    <div class="small-box ">
                        <a class="small-box-footer" href="http://school.inilabs.net/v2.2/teacher">
                            <div class="icon bg-red" >
                                <i class="fa fa-male"></i>
                            </div>
                            <div class="inner ">
                                <h3>
                                    25
                                </h3>
                                <p>
                                    Teacher
                                </p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-xs-6">
                    <div class="small-box ">
                        <a class="small-box-footer" href="http://school.inilabs.net/v2.2/subject">
                            <div class="icon bg-yellow">
                                <i class="fa fa-book"></i>
                            </div>
                            <div class="inner ">
                                <h3>
                                    50
                                </h3>
                                <p>
                                    Subject
                                </p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-xs-6">
                    <div class="small-box ">
                        <a class="small-box-footer" href="http://school.inilabs.net/v2.2/sattendance">
                            <div class="icon bg-blue" >
                                <i class="fa fa-list"></i>
                            </div>
                            <div class="inner ">
                                <h3>
                                    0
                                </h3>
                                <p>
                                    Attendance
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">

                    <section class="panel">
                        <div class="profile-db-head">
                            <a href="http://school.inilabs.net/v2.2/profile/index">
                                <img src="http://school.inilabs.net/v2.2/uploads/images/defualt.png" alt="" />
                            </a>

                            <h1>Jedidiah Walker</h1>
                            <p>Teacher</p>

                        </div>
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td>
                                        <i class="fa fa-user"></i>
                                    </td>
                                    <td>Username</td>
                                    <td>teacher1</td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-envelope"></i>
                                    </td>
                                    <td>Email</td>
                                    <td>jast.jalon@hotmail.com</td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-phone"></i>
                                    </td>
                                    <td>Phone</td>
                                    <td>(619) 303-6709</td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class=" fa fa-globe"></i>
                                    </td>
                                    <td>Address</td>
                                    <td>
                                        3667 Benjamin Wells
                                        Port Donavonfort, SD 96129-6689
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>


                <div class="col-sm-8">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">
                                Notice
                            </h3>
                        </div>

                        <div class="box-body" style="padding: 0px;">
                            <table class="table table-hover">
                                <tbody>
                                    <tr><td>1</td><td>Lorem ipsum dolor si..</td><td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtemp..</td><td><a href="http://school.inilabs.net/v2.2/notice/view/7" class='btn btn-success btn-xs mrg' style='background-color:#00bcd4;color:#fff;border:1px solid #00bcd4' data-placement='top' data-toggle='tooltip' data-original-title='View'><span class='fa fa-check-square-o'></span></a></td></tr>
                                    <tr><td>2</td><td>Lorem ipsum dolor si..</td><td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtemp..</td><td><a href="http://school.inilabs.net/v2.2/notice/view/6" class='btn btn-success btn-xs mrg' style='background-color:#00bcd4;color:#fff;border:1px solid #00bcd4' data-placement='top' data-toggle='tooltip' data-original-title='View'><span class='fa fa-check-square-o'></span></a></td></tr>
                                    <tr><td>3</td><td>Lorem ipsum dolor si..</td><td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtemp..</td><td><a href="http://school.inilabs.net/v2.2/notice/view/5" class='btn btn-success btn-xs mrg' style='background-color:#00bcd4;color:#fff;border:1px solid #00bcd4' data-placement='top' data-toggle='tooltip' data-original-title='View'><span class='fa fa-check-square-o'></span></a></td></tr>
                                    <tr><td>4</td><td>Lorem ipsum dolor si..</td><td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtemp..</td><td><a href="http://school.inilabs.net/v2.2/notice/view/4" class='btn btn-success btn-xs mrg' style='background-color:#00bcd4;color:#fff;border:1px solid #00bcd4' data-placement='top' data-toggle='tooltip' data-original-title='View'><span class='fa fa-check-square-o'></span></a></td></tr>
                                    <tr><td>5</td><td>Lorem ipsum dolor si..</td><td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtemp..</td><td><a href="http://school.inilabs.net/v2.2/notice/view/3" class='btn btn-success btn-xs mrg' style='background-color:#00bcd4;color:#fff;border:1px solid #00bcd4' data-placement='top' data-toggle='tooltip' data-original-title='View'><span class='fa fa-check-square-o'></span></a></td></tr>
                                    <tr><td>6</td><td>Lorem ipsum dolor</td><td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</td><td><a href="http://school.inilabs.net/v2.2/notice/view/2" class='btn btn-success btn-xs mrg' style='background-color:#00bcd4;color:#fff;border:1px solid #00bcd4' data-placement='top' data-toggle='tooltip' data-original-title='View'><span class='fa fa-check-square-o'></span></a></td></tr>
                                    <tr><td>7</td><td>Lorem ipsum dolor si..</td><td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</td><td><a href="http://school.inilabs.net/v2.2/notice/view/1" class='btn btn-success btn-xs mrg' style='background-color:#00bcd4;color:#fff;border:1px solid #00bcd4' data-placement='top' data-toggle='tooltip' data-original-title='View'><span class='fa fa-check-square-o'></span></a></td></tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>



        </div>
    </div>
</section>